# Dhuun Originals

# Dependencies
node_modules/

# Python
venv/
.venv/
__pycache__/
*.pyc

# Environment
.env
.env.*

# Builds
dist/
build/

# Runtime Storage
uploads/
storage/
temp/

# Audio Files
*.flac
*.wav
*.mp3
*.m4a

# Streaming Files
*.ts
*.m3u8

# Logs
logs/
*.log

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# Git patches
*.patch